<h1>Welcome to your profile page {{username}}!</h1>

{{!-- {{#if isAdmin}}
  <form action="/create" method="post">
  <button type="submit">create a session</button>
</form>

{{/if}} --}}




<form action="/logout" method="post">
  <button type="submit">Logout</button>
</form>