

<h1>Welcome to your profile, {{ user.username }}</h1>
    
    <h2>Your Selected Sessions:</h2>
    <ul>
        {{#each sessions}}
            <li>
                Session Theme: {{ theme }}
                <form action="/remove-session/{{ _id }}" method="POST">
                    <button type="submit">Remove Session</button>
                </form>
            </li>
            <!-- Add more session details as needed -->
        {{/each}}




<form action="/logout" method="post">
  <button type="submit">Logout</button>
</form>