<h1>create event here!</h1>
{{#if isAdmin}}
  <form action="/create-event" method="post">
      <label> theme
      <input type="theme" name="theme" placeholder="insert theme" />
    </label>
  <input>description
  <button type="submit">create an event</button>
</form>
{{else}}
  <!-- Handle non-admin users here -->
  <p>You are not an admin.</p>
{{/if}}